<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <form action="#" th:action="@{/login}" th:object="${usuario}" method="post">
            Usuario: <input type="text" th:field="*{usuario}" />
            <br />
            Contraseña: <input type="password" th:field="*{password}" />
            
            <input type="submit" value="Ingresar" />
        </form>
    </body>
</html>